
body{
    background-color:#FFD4D4;
}
page {
    background: #F9F5E7;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 33cm; 
  }
  h3{
    color: #A7727D;
    font-size:  20px;
  }
  div{
  
    padding: 2px 10px ;
  }



h1{
  text-align:  center ;

}
img {
  display: inline-block;
  position: relative;
}

.image{
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 30px;
}

.name{
  font-size: 30px;
  text-align: left;
}


ul li {
  list-style-type: initial !important;
  list-style-position: inside;
}
.link{
  width: auto;
  display: block !important;
}
.link2{
  width: 90% !important;
  height:auto;
  word-wrap: break-word !important;
  display: flex;
  flex-wrap: wrap;

}


  
    


